{% extends "base_template.html" %}

{% block title %}Responder encuesta{% endblock title %}

{% block cssFiles %}
<!-- <link rel="stylesheet" href="{{ url_for("static", filename="css/create_survey.css" ) }}"> -->
<link rel="stylesheet" href="{{ url_for("static", filename="css/answer_survey.css" ) }}">
{% endblock cssFiles %}

{% block content %}
<section class="survey container d-flex flex-column gap-4 justify-content-start align-items-center h-100">

    <div class="accordion accordion-flush w-100 question__card shadow" id="accordionExample" style="border-radius: 10px 10px 10px 10px">
        <div class="accordion-item" style="border-radius: 10px 10px 10px 10px">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Descripción
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {{data.description}}
            </div>
          </div>
        </div>   
      </div>
    
    <div class="d-flex justify-content-center gap-5 mt-3 me-4">
      <button type="button" class="suveryQuestions__button"><img src="/static/resources/flecha-izquierda.png" class="img-fluid image__row leftRow" onclick="changeCuestion(event,'back')"></button>
      <button type="button" class="suveryQuestions__button"><img src="/static/resources/flecha-izquierda.png" class="img-fluid image__row rotate rightRow " onclick="changeCuestion(event,'next')"></button>
    </div>
</section>

<div class="w-100 d-flex justify-align-end">
  <button type="button" class="btn-flotante invisible sendResponse" onclick="sendData(event)">Enviar encuesta</button>
</div>

<div class="modal fade myModalId" role="dialog" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> 
  <div class="modal-dialog modal-dialog-centered myModal">
  
    <!-- Modal content-->
    <div class="modal-content d-flex flex-column justify-content-center align-items-center p-5 gap-2 myModal shadow">
      <img src="/static/resources/success.png">
      <h1>¡Encuesta Enviada!</h1>
      <h5>Gracias por tu participación</h5>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
    
  </div>
</div>

{% endblock content %}


{% block jsFiles %}
<script>
  const dataSurvey = {{ data | tojson }}
</script>

<script src="{{ url_for("static", filename="js/answer_survey.js" ) }}"></script>
{% endblock jsFiles %}