{% extends "base_template.html" %}


{% block title %}Dashboard Encuestado registrado{% endblock title %}

{% block cssFiles %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/dashboard_user.css" ) }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/9c3c5148b3.js" crossorigin="anonymous"></script>
{% endblock cssFiles %}

{% block content %}
<div class="container-fluid pading-0"> <!--div container principal-->
  <div class="d-flex justify-content-center ms-5 me-5 gap-4">

    <div class="d-flex flex-column" style="height: 80vh;">
      <div class="card shadow w-100 p-4 d-flex justify-content-center align-items-center h-100">
        <img class="imgShortcuts img--center1 mb-3" src="{{ url_for("static", filename="resources/add.png" ) }}">
        <h5>Ir a la última encuesta</h5>
        <button type="button" class="btn btn-danger btnShortcut" onclick="window.location.href='/ir_a_crear_nueva_encuesta'">Continuar</button>
      </div>
      <div class="card shadow w-100 p-4 d-flex justify-content-center align-items-center h-100">
        <img class="imgShortcuts img--center3 mb-3 " src="{{ url_for("static", filename="resources/edit.png" ) }}">
        <h5 class="">¿Deseas ver tu perfil?</h5>
        <button type="button" class="btn btn-danger btnShortcut " >Ver perfil</button>
      </div>
        
    </div>
  
    <div class="ms-5 me-5 mt-2 mb-2 card shadow tableFixHead" style="height: 80vh;">
      <div class="d-flex border-bottom align-items-center p-3 sticky-top bg-white justify-content-between">
          <div class="d-flex gap-3 align-items-center justify-content-between ">
            <h4 class="text-secondary" style="width: 250px;">Historial de encuestas</h4>
          </div>
      </div>
  
  
  
      <table class="table table-hover align-middle table-borderless tableSurvey table-fixed table-scroll" >
        <thead>
          <tr class="bg-white justify-content-around">
            <th scope="col">Nombre encuesta</th>
            <th scope="col">Fecha de respuesta</th>
          </tr>
        </thead>
          <tr>
            <td>
              Encuesta ejemplo 1
            </td>
            <td>
              8 febrero de 2022
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}


{% block jsFiles %}

<script>
  const data = {{ data | tojson }}
  const role = {{ current_user.rol | tojson}};
  document.querySelector('.titleSurvey').textContent = ""
</script>

<script src="{{ url_for("static", filename="js/nav.js" ) }}"></script>

{% endblock jsFiles %}