{% extends "base_template.html" %}


{% block title %}Dashboard Encuestado registrado{% endblock title %}

{% block cssFiles %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/dashboard_admin.css" ) }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/9c3c5148b3.js" crossorigin="anonymous"></script>
{% endblock cssFiles %}

{% block content %}
<div class="container-fluid vh-100 pading-0"> <!--div container principal-->
  <div class = "row col-12 "> <!--container de las tarjetas-->
    <div class="d-flex text-center ms-5 me-5 gap-4">
      <div class="card shadow w-100 p-4 d-flex justify-content-center align-items-center">
        <img class="imgShortcuts img--center1 mb-3" src="{{ url_for("static", filename="resources/add.png" ) }}">
        <h5>¿Deseas crear una encuesta?</h5>
        <button type="button" class="btn btn-danger btnShortcut" onclick="window.location.href='/ir_a_crear_nueva_encuesta'">Crear encuesta</button>
      </div>
      <div class="card shadow w-100 p-4 d-flex justify-content-center align-items-center">
        <img class="imgShortcuts img--center2 mb-3" src="{{ url_for("static", filename="resources/add-user.png" ) }}">
        <h5>¿Deseas agregar un usuario?</h5>
        <button type="button" class="btn btn-danger btnShortcut" onclick="window.location.href='usuarios/active'">Añadir usuario</button>
      </div>
    </div>
  </div>
  
  <div class= "row"> <!--div de las tablas-->
    <table class="table col pading-5 table-hover align-middle table-borderless tableSurvey table-fixed table-scroll" >
      <thead>
        <tr class="bg-white">
          <th scope="col">Nombre Encuesta</th>
          <th scope="col">Disponible hasta</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody class="users">
        <tr id="Encuesta${survey.id_survey}">
          <td filtroTitle="true">Encuesta de perritos</td>
          <td>
           22-06-2022
          </td>
          <td class="text-center">
            <div class="btn-group dropstart">
              <button class="btn btn-secondary rounded-circle btn-circle p-1" type="button" id="dropdownCenterBtn" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="imgDot" src="/static/resources/dots.png" alt="">
              </button>
              <ul class="dropdown-menu slideInAction animate" aria-labelledby="dropdownCenterBtn" idEncuesta="${survey.id_survey}" style="z-index: 10000;">
                <li><a typeButton="POST" class="dropdown-item" onclick="showModalSure(event)">Dar de baja</a></li>
                <li><a typeButton="DELETE" class="dropdown-item" onclick="showModalSure(event)">Eliminar</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table col pading-5 table-hover align-middle table-borderless tableSurvey table-fixed table-scroll" >
      <thead>
        <tr class="bg-white">
          <th scope="col">Nombre Encuesta</th>
          <th scope="col">Encuesta respondida el</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="users">
        <tr id="Encuesta${survey.id_survey}">
          <td filtroTitle="true">Encuesta de gatos</td>
          <td>
           03-06-2022
          </td>
          <td class="text-center">
            <div class="btn-group dropstart">
              <button class="btn btn-secondary rounded-circle btn-circle p-1" type="button" id="dropdownCenterBtn" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="imgDot" src="/static/resources/dots.png" alt="">
              </button>
              <ul class="dropdown-menu slideInAction animate" aria-labelledby="dropdownCenterBtn" idEncuesta="${survey.id_survey}" style="z-index: 10000;">
                <li><a typeButton="POST" class="dropdown-item" onclick="showModalSure(event)">Dar de baja</a></li>
                <li><a typeButton="DELETE" class="dropdown-item" onclick="showModalSure(event)">Eliminar</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}



{% block jsFiles %}

<script src="{{ url_for("static", filename="js/nav.js" ) }}"></script>

{% endblock jsFiles %}