<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css" ) }}"> <link rel="stylesheet" href="{{
    url_for("static",filename="css/colors.css" ) }}"> <link rel="stylesheet" href="{{ url_for("static", filename="css/password.css" ) }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Recuperar contraseña</title>
  </head>
  <body>
    <div class="d-flex flex-column align-items-center ms-5 me-5 gap-4">
      <div class="card shadow d-flex flex-column align-items-center gap-2">
        <!--Primer card-->
        <div class="text-center">
          <h3 class="text-dark">¿Olvidaste tu contraseña?</h3>
          <p class="text-secondary ms-2">No te preocupes, puedes recuperarla!</p>
        </div>

        <form class="d-flex flex-column align-items-center gap-3 w-100">
          <div class="form-group w-100">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
          </div>
          <button type="submit" class="btn btn-primary w-100">Enviar código</button>
          <a href="#">Regresar al Login</a>
        </form>
      </div>

      <div class="card shadow text-center" style="width: 50%">
        <!--Segundo card-->
        <h3 class="text-dark ms-2">Revisa tu Email</h3>
        <p class="text-secondary mt-0">Hemos enviado un codigo al correo</p>
        <p class="text-secondary">vavila2018@udec.cl</p>
        <form>
          <button type="submit" class="btn btn-primary">Tengo mi código!</button>
          <h5></h5>
          <div class="d-flex text-center justify-content-around">
            <p>No he recibido mi código</p>
            <a href="#">Click para reenviar</a>
          </div>
          <a href="#">Regresar al Login</a>
        </form>
      </div>

      <div class="card shadow text-center" style="width: 50%">
        <!--tercer card-->
        <h3 class="text-dark ms-2">Ingresa tu código</h3>
        <p class="text-secondary ms-2">Este código es único</p>
        <form class="d-flex flex-column align-items-center gap-4">
          <div class="d-flex justify-content-center gap-3">
            <div class="form-group codeDiv">
              <input type="text" class="form-control codeInput" id="code1" maxlength="1" />
            </div>
            <div class="form-group codeDiv">
              <input type="text" class="form-control codeInput" id="code2" maxlength="1" />
            </div>
            <div class="form-group codeDiv">
              <input type="text" class="form-control codeInput" id="code3" maxlength="1" />
            </div>
            <div class="form-group codeDiv">
              <input type="text" class="form-control codeInput" id="code4" maxlength="1" />
            </div>
            <div class="form-group codeDiv">
              <input type="text" class="form-control codeInput" id="code5" maxlength="1" />
            </div>
            <div class="form-group codeDiv">
              <input type="text" class="form-control codeInput" id="code6" maxlength="1" />
            </div>
          </div>

          <button type="button" class="btn btn-primary">Validar código</button>
          <h5></h5>
          <a href="#">Regresar al Login</a>
        </form>
      </div>

      <div class="card shadow text-center" style="width: 50%">
        <!--Cuarto card-->
        <h3 class="text-dark ms-2">Ingresa tu nueva contraseña</h3>
        <p class="text-secondary ms-2">Tu nueva contraseña debe ser diferente a</p>
        <p class="text-secondary ms-2">las anteriores</p>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nueva contraseña" />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Confirmar contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirme contraseña" />
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
          <h5></h5>
          <a href="#">Regresar al Login</a>
        </form>
      </div>

      <div class="card shadow text-center" style="width: 50%">
        <!--Quinto card-->
        <div class="text-center">
          <img
            src="https://plantillasdememes.com/img/plantillas/ta-bien01592717127.jpg"
            class="img-fluid"
            style="width: 100mm"
            alt="Responsive image"
          />
        </div>
        <h3 class="text-dark ms-2">Contraseña cambiada con exito</h3>
        <h5 class="text-secondary ms-2">Tu contraseña ha sido restaurada con exito!</h5>
        <form>
          <h5></h5>
          <a href="#">Regresar al Login</a>
        </form>
      </div>
    </div>
  </body>
</html>
