{% extends "base_template.html" %}

<!--TAREA: Hacer que el text area de los enunciados sea autoajustable : https://stephanwagner.me/auto-resizing-textarea-with-vanilla-javascript -->

{% block title %}Crear encuesta{% endblock title %}

{% block cssFiles %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/create_survey.css" ) }}">
{% endblock cssFiles %}

{% block content %}
{% if navOptions.selected == 'preguntas' %}
<section class="survey container d-flex flex-column">
  <div class="survey__card shadow pt-3 pb-3 mb-4 mt-4 mx-auto justify-content-center">
    <textarea name="title" class="form-control shadow-none survey__elementTitle mb-2 textareaDisabled" rows="1"
      placeholder="Inserte Título"></textarea>
    <textarea name="title" class="form-control shadow-none survey__elementDesc" rows="1"
      placeholder="Description de la encuesta"></textarea>
  </div>
  <div class="surveyQuestions">
    <div class="survey__card shadow pt-3 pb-3 mb-4 mt-4 mx-auto justify-content-center">
      <textarea name="title" class="form-control shadow-none survey__elementTitle mb-3 textareaDisabled" rows="1"
        placeholder="Inserte enunciado"></textarea>
      <textarea name="title"
        class="form-control shadow-none survey__elementDesc border-dotted textareaDisabled border__dotted" rows="3"
        placeholder="Cuadro de respuesta de referencia" disabled></textarea>
      <div class="d-flex justify-content-end gap-2 mt-3 me-4">
        <button type="button" class="suveryQuestions__button"><img src="{{ url_for("static",
            filename="resources/justificar-parrafo.png" ) }}" class="img-fluid survey__image" onclick="#"></button>
        <button type="button" class="suveryQuestions__button"><img src="{{ url_for("static",
            filename="resources/radio.png" ) }}" class="img-fluid survey__image" onclick="#"></button>
        <button type="button" class="suveryQuestions__button"><img src="{{ url_for("static",
            filename="resources/trash.png" ) }}" class="img-fluid survey__image" onclick="#"></button>

      </div>
    </div>

    <div class="survey__card shadow pt-3 pb-3 mb-4 mt-4 mx-auto justify-content-center">
      <textarea name="title" class="form-control shadow-none survey__elementTitle mb-3 textareaDisabled" rows="1"
        placeholder="Inserte enunciado"></textarea>
      <div class="survey__alternatives">
        <div class="form-check ms-4 mb-3 d-flex gap-2">
          <input class="form-check-input survey_alternative" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <input class="survey__inputAlt" placeholder="Opcion 1">
        </div>
        <div class="form-check ms-4 d-flex gap-2">
          <input class="form-check-input survey_alternative" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <input class="survey__inputAlt" placeholder="Opcion 2">
        </div>
      </div>
      <div class="d-flex justify-content-end gap-2 mt-3 me-4">
        <button type="button" class="suveryQuestions__button"><img src="{{ url_for("static",
            filename="resources/justificar-parrafo.png" ) }}" class="img-fluid survey__image" onclick="#"></button>
        <button type="button" class="suveryQuestions__button"><img src="{{ url_for("static",
            filename="resources/radio.png" ) }}" class="img-fluid survey__image" onclick="#"></button>
        <button type="button" class="suveryQuestions__button"><img src="{{ url_for("static",
            filename="resources/trash.png" ) }}" class="img-fluid survey__image" onclick="#"></button>
      </div>
    </div>

  </div>
  <div>
    <a href="#"><i class="fa fa-arrows" aria-hidden="true"></i></a>
  </div>
</section>

{% elif navOptions.selected == "respuestas" %}
<p>Respuestas</p>
{% else %}
<p>Configuracion</p>
{% endif %}
{% endblock content %}



{% block jsFiles %}
<script>
  const navOptions = {{ navOptions | tojson }}
</script>
<script src="{{ url_for("static", filename="js/nav.js" ) }}"></script>
{% endblock jsFiles %}


**DECIR SOLUCION
**PREGUNTAR POR TRANSBANK
**CATALOGO