{% extends "base_template.html" %}


{% block title %}Dashboard Admin{% endblock title %}

{% block cssFiles %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/dashboard_admin.css" ) }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/9c3c5148b3.js" crossorigin="anonymous"></script>
{% endblock cssFiles %}

{% block content %}
{% if data.selected == 'encuestas' %}

  <div class="d-flex text-center ms-5 me-5 gap-4">
    <div class="card shadow text-center" style="width: 100%;">
      <canvas id="myChart" class="mt-3 mb-3"></canvas>
      <h5 class="">Actividad del usuario</h4>
    </div>
    <div class="card shadow w-100 p-4 d-flex justify-content-center align-items-center">
      <img class="imgShortcuts img--center1 mb-3" src="{{ url_for("static", filename="resources/add.png" ) }}">
      <h5>¿Deseas crear una encuesta?</h5>
      <button type="button" class="btn btn-danger btnShortcut" onclick="window.location.href='/ir_a_crear_nueva_encuesta'">Crear encuesta</button>
    </div>
    <div class="card shadow w-100 p-4 d-flex justify-content-center align-items-center">
      <img class="imgShortcuts img--center2 mb-3" src="{{ url_for("static", filename="resources/add-user.png" ) }}">
      <h5>¿Deseas agregar un usuario?</h5>
      <button type="button" class="btn btn-danger btnShortcut" onclick="window.location.href='usuarios/active'">Añadir usuario</button>
    </div>
    <div class="card shadow w-100 p-4 d-flex justify-content-center align-items-center">
      <h1 class="position-absolute">Proximamente...</h1>
      <img class="imgShortcuts img--center3 mb-3  opacity-50" src="{{ url_for("static", filename="resources/edit.png" ) }}">
      <h5 class=" opacity-50">¿Deseas editar tu perfil?</h5>
      <button type="button" class="btn btn-danger btnShortcut  opacity-50" disabled>Editar perfil</button>
    </div>
    
    
  </div>

  <div class="ms-5 me-5 mt-2 mb-2 card shadow tableFixHead" style="height: 45vh;">
    <div class="d-flex border-bottom align-items-center p-3 sticky-top bg-white justify-content-between">
        <div class="d-flex gap-3 align-items-center justify-content-between ">
          <h4 class="text-secondary" style="width: 250px;">Mis encuestas</h4>
          <div class="input-group shadow-sm rounded-5 search w-100">
            <span class="input-group-text border-0 colorSearch">
              <img class="imgSearch" src="{{ url_for("static", filename="resources/lupa.png" ) }}">
            </span>
            <input type="text" class="form-control border-0 colorSearch searchInput" onkeyup="filterSearch()" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        

      

      <div class="dropdown-center">
        <button class="btn btn-secondary border-0" type="button" id="dropdownCenterBtn" data-bs-toggle="dropdown" aria-expanded="false" disabled style="background-color: #1b97f3;">
          Filtro
          <img class="imgSearch" src="{{ url_for("static", filename="resources/filter.png" ) }}">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownCenterBtn">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Action two</a></li>
          <li><a class="dropdown-item" href="#">Action three</a></li>
        </ul>
      </div>

      
    </div>



    <table class="table table-hover align-middle table-borderless tableSurvey table-fixed table-scroll" >
      <thead>
        <tr class="bg-white">
          <th scope="col" style="width: 8%;">Estado</th>
          <th scope="col" style="width: 20%;">Nombre encuesta</th>
          <th scope="col" style="width: 8%;">Visitas</th>
          <th scope="col" style="width: 20%;">Respuestas</th>
          <th scope="col" style="width: 23%;">Fecha de creación</th>
          <th scope="col">Autor</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody class="surveys">
      </tbody>
    </table>
  </div>
</div>


{% elif data.selected == "usuarios" %}
  <div class="ms-5 me-5"> <!-- container -->

    <div class="d-flex flex-row justify-content-between"> <!-- Primer row -->
      <div class="d-flex aling-items-center gap-5">
        <div class="d-flex gap-3 align-items-center"> 
          <h1><b>Usuarios</b></h1>
          <p class="m-0 text-secondary totalUsers"></p>
        </div>
  
        <div class="d-flex align-items-center gap-3">
          <p class="m-0 text-secondary">Ordenar por:</p>
          <div class="dropdown" style="z-index: 10000;">
            <button class="btn btn-secondary dropdown-toggle bg-transparent border-0 text-dark btnOrder" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Nombre
            </button>
            <ul class="dropdown-menu slideInOrder animate" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" onclick="filterUser(event)">Nombre</a></li>
              <li><a class="dropdown-item" onclick="filterUser(event)">Apellido</a></li>
              <li><a class="dropdown-item" onclick="filterUser(event)">Estado</a></li>
              <li><a class="dropdown-item" onclick="filterUser(event)">Edad</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center gap-2">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa Correo">
        <button class="btn btn-primary h-50 d-flex gap-2" type="submit" value="button" onclick="addUser(event)">
          <img src="{{ url_for("static", filename="resources/addUserBtn.png" ) }}" isImage="true">
          Añadir
        </button>
      </div>

    </div>

    <div class="mt-2 mb-2 card shadow tableFixHead" style="height: 75vh;">
      <div class="d-flex border-bottom align-items-center gap-5 p-3 bg-white justify-content-between sticky-top">
        <div class="input-group shadow-sm rounded-5 search">
          <span class="input-group-text border-0 colorSearch">
            <img class="imgSearch" src="{{ url_for("static", filename="resources/lupa.png" ) }}">
          </span>
          <input type="text" class="form-control border-0 colorSearch searchInputUser" onkeyup="filterSearch()" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        
      </div>
  
  
  
      <table class="table table-hover align-middle table-borderless tableSurvey table-fixed table-scroll" >
        <thead class="theadUsers">
          <tr class="bg-white">
            <th scope="col">#</th>
            <th scope="col" style="width: 15%;">Nombres</th>
            <th scope="col" style="width: 15%;">Apellidos</th>
            <th scope="col" style="width: 15%;">Correo</th>
            <th scope="col">Edad</th>
            <th scope="col">Rut</th>
            <th scope="col">Estado</th>
            <th scope="col" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody class="users">
        </tbody>
      </table>
    </div>
  </div>
  


{% else %}
<h1>Dashboard Configuracion</h1>
{% endif %}

<!-- Modal -->
<div class="modal fade myModalSure" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered pb-5">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center text-center">
        <img class="w-50" src="{{ url_for("static",
        filename="resources/alarm.png" ) }}">
        <h1 class="titleModal"></h1>
        <h5>Recuerda que esta acción no se puede deshacer</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger buttonModal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}



{% block jsFiles %}

<script>
  const data = {{ data | tojson }}
  const role = {{current_user.rol | tojson}}
</script>
<script src="{{ url_for("static", filename="js/nav.js" ) }}"></script>
{% if data.selected == 'encuestas' %}
<script src="{{ url_for("static", filename="js/dashboard_adminEncuestas.js" ) }}"></script>
{% elif data.selected == "usuarios" %}
<script src="{{ url_for("static", filename="js/dashboard_adminUsuarios.js" ) }}"></script>
{% endif %}


{% endblock jsFiles %}