{% extends "base_template.html" %}

<!--TAREA: Hacer que el text area de los enunciados sea autoajustable : https://stephanwagner.me/auto-resizing-textarea-with-vanilla-javascript -->

{% block title %}Crear encuesta{% endblock title %}

{% block cssFiles %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/create_survey.css" ) }}">

{% endblock cssFiles %}

{% block content %}
{% if data.selected == 'preguntas' %}
<section class="survey container d-flex flex-column">
  <div class="survey__card shadow pt-3 pb-3 mb-4 mt-4 mx-auto justify-content-center">
    <textarea id="title" onchange="handleInputs(event)"
      class="form-control shadow-none survey__elementTitle mb-2 textareaDisabled" rows="1" placeholder="Inserte Título"
      autofocus style="height: 10px"></textarea>
    <textarea onchange="handleInputs(event)" id="description" class="form-control shadow-none survey__elementDesc"
      rows="1" placeholder="Descripción de la encuesta"></textarea>
  </div>
  <div class="surveyQuestions">
  </div>
  <div class="survey__addButton text-center">
    <button type="button" class="suveryQuestions__button" data-toggle="tooltip" title="Agregar pregunta"><img
        src="{{ url_for("static", filename="resources/plus-blue.png" ) }}" class="img-fluid survey__image"
        onclick="addQuestion()"></button>
  </div>
</section>

<div class="d-flex justify-content-between fixed-bottom mb-5">
  <button type="button" class="btn-flotante btn-left ms-4"
    onclick="window.location.href='/dashboard_admin'">Cancelar</button>
  <button type="button" class="btn-flotante btn-right me-4 {{'invisible' if data.textButton == " Modificar" else '' }}"
    onclick="sendData(event)">{{data.textButton}}</button>
</div>

<div class="modal fade myModalId" role="dialog" id="staticBackdrop" data-bs-backdrop=static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered myModal">

    <!-- Modal content-->
    <div class="modal-content d-flex flex-column justify-content-center align-items-center p-5 gap-2 myModal shadow">
      <img src="{{ url_for("static", filename="resources/success.png" ) }}">
      <h1>¡Encuesta guardada!</h1>
      <h5>Te redireccionaremos a la pagina principal</h5>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>

  </div>
</div>



{% elif data.selected == "respuestas" %}

<div id="surveyTitle" class="mx-5 my-4">
  <!-- Titulo y descripcion -->
</div>


<div class="d-flex mx-5 gap-4">
  <div id="containerAlternatives" class="card shadow questions overflow-auto" style="width: 50%; height: 40vh;">
    <!--AQUI SE INSERTAN LAS PREGUNTAS-->
    <div class="overflow-auto mb-3"></div>
  </div>
</div>

<div class="ms-5 me-5 mt-2 mb-2 card shadow tableFixHead">
  <table class="table table-hover align-middle table-borderless tableSurvey table-fixed table-scroll">
    <thead>
      <tr class="bg-white">
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Género</th>
        <th scope="col">Edad</th>
      </tr>
    </thead>
    <tbody class="users">
    </tbody>
  </table>
</div>

<div class="modal fade myModalQuestions" role="dialog" id="staticBackdrop" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered myModal">
    <!-- Modal content-->
    <div id="ModalQuestions"
      class="modal-content d-flex flex-column justify-content-center align-items-center p-5 gap-2 shadow"
      style="background-color: #d7dbdd;">
    </div>
  </div>
</div>


{% else %}
<p>Configuracion</p>
{% endif %}
{% endblock content %}



{% block jsFiles %}
<script>
  const data = {{ data | tojson }}
  const role = {{ current_user.rol | tojson}};
  document.querySelector('.titleSurvey').textContent = ""
</script>
<script src="{{ url_for("static", filename="js/nav.js" ) }}"></script>

{% if data.selected == "preguntas" %}
<script src="{{ url_for("static", filename="js/survey_preguntas.js" ) }}"></script>

{% elif data.selected == "respuestas" %}
<script src="{{ url_for("static", filename="js/survey_respuestas.js" ) }}"></script>
{% endif %}
{% endblock jsFiles %}