.card {
  background-color: var(--color-white);
  border-radius: 10px 10px 10px 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 0;
  padding: 3%;
  width: 30%;
  min-width: 400px;
  min-height: 300px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.codeDiv {
  width: 100%;
}

.codeInput {
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  box-shadow: none;
}

.codeInput:focus {
  box-shadow: none !important;
}

.btn {
  background-color: #1784d5 !important;
  border: 0;
}

a {
  color: #1784d5 !important;
  cursor: pointer;
}

.incorrectCode {
  color: #e74c3c;
}

.correctCode {
  color: #58d68d;
}
