{% extends "layout.html" %}

{% block body %}

    <h1>ENCUESTA MAGICA</h1>
    <button type="button" class="btn btn-primary">Primary</button>
    <a href="http://127.0.0.1:3000/" class = "estilo_boton_1">Home</a>
    <a href="http://127.0.0.1:3000/otros/" class = "estilo_boton_1">Otros</a>
    <h2>Introducir en la base de datos</h2>
    <form action="/guardar_nombre" method="POST">
        <input type="text" name="nombre" placeholder="Nombre">
        <button type="submit">Guardar</button>
    </form>

    {% endblock %}

